<!DOCTYPE>
<html>

<head>

    <title>{% block title %}{% endblock%}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{stylesheet_tag('main_css') |   safe}}

    {% block styles %}{% endblock%}

    {{javascript_tag('customer_header_js') | safe}}

    {% block scripts %}{% endblock%}

</head>

<body>
    <!-- Header Component -->

    <div class="header header--normal">
        <div class="header__left">
            <a href="/">
                <div class="header__logo">
                    <img alt="FastFoodFast">
                </div>
            </a>
        </div>

        <div class="header__menu">
            <a href="/customer/order">
                <div class="header__menu__link f_h2">Menu</div>
            </a>

            <a href="/customer/orderHistory">
                <div class="header__menu__link f_h2">History</div>
            </a>
        </div>

    </div>

    <!-- Header Component -->

    {% block body %}{%endblock%}
</body>

</html>