<!DOCTYPE>
<html>

<head>

    <title>Sign In</title>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{stylesheet_tag('main_css')    |   safe}}
    {{stylesheet_tag('customer_login_css') |   safe}}

    {{javascript_tag('customer_login_js') | safe}}
    
</head>

<body>

    <!-- Login Component -->

    <div class="login">
        <form method="post" encType="multipart/form-data">

            <div class="login__form">
                
                <a href="/">
                    <div class="login__logo"></div>
                </a>

                <div class="login__text">
                    <div class="text_input has-float-label f_input_1">
                        <input id="username" type="text" class="f_input_1" placeholder="Username / Email Address" />
                        <label htmlFor="username">Username</label>

                        <div class="comment f_comment_1"></div>
                        <div class="errorComment f_comment_1"></div>
                    </div>
                </div>


                <div class="login__text">
                    <div class="text_input has-float-label f_input_1">
                        <input id="password" type="password" class="f_input_1" placeholder="Password" />
                        <label htmlFor="password">Password</label>

                        <div class="comment f_comment_1"></div>
                        <div class="errorComment f_comment_1"></div>
                    </div>
                </div>

                <div class="login__link">
                    <a href="customer/signup">
                        <div class="login__signup f_normal">Sign Up</div>
                    </a>

                    <div class="login__link__text f_normal">Want to register ?</div>
                </div>

                <div class="login__save">
                    <button type="button" class="btn_1">Login</button>
                </div>

            </div>
        </form>
    </div>
    <!-- Login Component -->

</body>

</html>