{% extends "layouts/admin.html" %}

{% block title %}Order Management{% endblock %}

{% block styles %}

{{stylesheet_tag('admin_order_management_css')| safe}}

{% endblock %}

{% block scripts %}

{{javascript_tag('admin_order_management_js') | safe}}

{% endblock %}


{% block body %}

<!-- Section -->

<div class="main">

    <!-- Content -->

    <div class="content">

        <div class="ordersView">

            <div class="ordersView__topBar">
                <div class="ordersView__title f_h1">Orders</div>
            </div>

            <div class="ordersView__content">

                <!-- Order Item -->
                <div class="order">

                    <div class="order__id f_normal">1000001</div>
                    <div class="order__items f_normal">
                        <div class="order__items__title f_normal">Items</div>

                        <div class="order__items__list">
                            <div class="order__item f_normal">
                                <div class="order__item__name f_normal">Chicken Burger</div>
                                <div class="order__item__quantity f_normal">2</div>
                                <div class="order__item__price f_normal">KSH 400</div>
                            </div>

                            <div class="order__item f_normal">
                                <div class="order__item__name f_normal">Beef Burger</div>
                                <div class="order__item__quantity f_normal">2</div>
                                <div class="order__item__price f_normal">KSH 400</div>
                            </div>

                            <div class="order__item">
                                <div class="order__item__name f_normal">Coke 350ml</div>
                                <div class="order__item__quantity f_normal">4</div>
                                <div class="order__item__price f_normal">KSH 100</div>
                            </div>


                        </div>
                    </div>

                    <div class="order__total f_normal">KSH 2000</div>

                    <div class="order__buttons">

                        <div class="order__button">
                            <div class="btn_1--success f_button_2">Accept</div>
                        </div>

                        <div class="order__button">
                            <div class="btn_1--danger f_button_2">Deny</div>
                        </div>

                        <div class="order__button">
                            <div class="btn_1--warning f_button_2">Finish</div>
                        </div>

                    </div>


                </div>
                <!-- Order Item -->



                <!-- Order Item -->
                <div class="order">

                    <div class="order__id f_normal">1000002</div>
                    <div class="order__items f_normal">
                        <div class="order__items__title f_normal">Items</div>

                        <div class="order__items__list">
                            <div class="order__item f_normal">
                                <div class="order__item__name f_normal">Chicken Burger</div>
                                <div class="order__item__quantity f_normal">2</div>
                                <div class="order__item__price f_normal">KSH 400</div>
                            </div>

                            <div class="order__item f_normal">
                                <div class="order__item__name f_normal">Beef Burger</div>
                                <div class="order__item__quantity f_normal">2</div>
                                <div class="order__item__price f_normal">KSH 400</div>
                            </div>

                            <div class="order__item">
                                <div class="order__item__name f_normal">Coke 350ml</div>
                                <div class="order__item__quantity f_normal">4</div>
                                <div class="order__item__price f_normal">KSH 100</div>
                            </div>

                        </div>
                    </div>

                    <div class="order__total f_normal">KSH 2000</div>


                    <div class="order__buttons">
                        <div class="order__button">
                            <div class="btn_1--success f_button_2">Accept</div>
                        </div>

                        <div class="order__button">
                            <div class="btn_1--danger f_button_2">Deny</div>
                        </div>

                        <div class="order__button">
                            <div class="btn_1--warning f_button_2">Finish</div>
                        </div>
                    </div>


                </div>
                <!-- Order Item -->


                <!-- Order Item -->
                <div class="order">

                    <div class="order__id f_normal">1000003</div>
                    <div class="order__items f_normal">
                        <div class="order__items__title f_normal">Items</div>

                        <div class="order__items__list">
                            <div class="order__item f_normal">
                                <div class="order__item__name f_normal">Chicken Burger</div>
                                <div class="order__item__quantity f_normal">2</div>
                                <div class="order__item__price f_normal">KSH 400</div>
                            </div>

                            <div class="order__item f_normal">
                                <div class="order__item__name f_normal">Beef Burger</div>
                                <div class="order__item__quantity f_normal">2</div>
                                <div class="order__item__price f_normal">KSH 400</div>
                            </div>

                            <div class="order__item">
                                <div class="order__item__name f_normal">Coke 350ml</div>
                                <div class="order__item__quantity f_normal">4</div>
                                <div class="order__item__price f_normal">KSH 100</div>
                            </div>

                        </div>
                    </div>


                    <div class="order__total f_normal">KSH 2000</div>


                    <div class="order__buttons">
                        <div class="order__button">
                            <div class="btn_1--success f_button_2">Accept</div>
                        </div>

                        <div class="order__button">
                            <div class="btn_1--danger f_button_2">Deny</div>
                        </div>

                        <div class="order__button">
                            <div class="btn_1--warning f_button_2">Finish</div>
                        </div>

                    </div>


                </div>


            </div>
            <!-- Order Item -->

        </div>



    </div>


    <!-- Content -->

</div>

<!-- Section -->

{% endblock %}
