<!DOCTYPE>
<html>

<head>

    <title>Admin Sign In</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{stylesheet_tag('main_css') | safe}}
    {{stylesheet_tag('admin_login_css') | safe}}

    {{javascript_tag('admin_login_js') | safe}}

</head>

<body>

    <div class="login">
        <div class="login__left">


            <!-- Login Info Component -->

            <div class="login__info">
                <h1 class="f_title">Welcome to the FastFoodFast Admin Platform</h1>
                <h2 class="f_h1">Please provide your company assigned Admin details to login.</h2>
                <p class="f_h2">If you are having trouble trying to log into your account, please contact the site
                    administrator or
                    relevant party.</p>
            </div>

            <!-- Login Info Component -->

            <div class="login__left__img"></div>

        </div>

        <!-- Login Component -->

        <div class="login__right">

            <form method="post" encType="multipart/form-data">

                <div class="login__form">

                    <a href="/">
                        <div class="login__logo"></div>
                    </a>

                    <div class="login__text"></div>
                    <div class="login__text"></div>

                    <div class="login__error errorComment--disabled f_comment_1"></div>
                    
                    <div class="login__save"></div>

                </div>

            </form>

            <div class="login__right__img"></div>

        </div>

        <!-- Login Component -->

    </div>





    <!-- Footer Component -->

    <div class="footer">
        <a href="#">
            <div class="footer__link f_normal">About FastFoodFast</div>
        </a>
        <a href="#">
            <div class="footer__link f_normal">Help and FeedBack</div>
        </a>
    </div>

    <!-- Footer Component -->

</body>

</html>