html {
    font-size: 10px;
}

@media (max-width: 100em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 56.25em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 75em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 37.5em) {
    html {
        font-size: 6px;
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

body {
    margin: 0;
}


body::-webkit-scrollbar {
    width: .2rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(223, 0, 0);
    outline: 0.1rem solid rgb(223, 0, 0);
}

.SB::-webkit-scrollbar-thumb {
    background-color: rgb(223, 0, 0);
    outline: 0.1rem solid rgb(223, 0, 0);
}

.SB::-webkit-scrollbar,
.SB--dark::-webkit-scrollbar {
    width: .2rem;
}

.SB::-webkit-scrollbar-track,
.SB--dark::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
}

.SB--dark::-webkit-scrollbar-thumb {
    background-color: #171717;
    outline: 0.1rem solid #171717;
}

.f_banner_1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    text-align: left;
    text-wrap: normal;
}

.f_title {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    text-align: left;
    text-wrap: normal;
}

.f_subtitle_1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    text-align: left;
    text-wrap: normal;
}

.f_label_1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-align: left;
    text-wrap: normal;
}

.f_h1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: left;
    text-wrap: normal;
}

.f_h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: left;
    text-wrap: normal;
}

.f_h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: left;
    text-wrap: normal;
}

.f_normal {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-align: left;
    text-wrap: normal;
}

.f_button_1,
.f_button_2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    text-wrap: normal;
}

.f_button_1 {
    font-size: 1.2rem;
}

.f_button_2 {
    font-size: 1.4rem;
}

.f_input_1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-indent: 1rem;
    text-align: left;
    text-wrap: normal;
}

.f_input_dd_1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: left;
    text-wrap: normal;
}

.f_input_ta {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    padding: 1rem;
}

.f_comment_1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

.f_tab_h1,
.f_tab_h2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    text-wrap: normal;
}

.f_tab_h1 {
    font-size: 1.4rem;
}

.f_tab_h2 {
    font-size: 1.3rem;
}

@media (max-width: 75em) {
    .f_banner_1 {
        font-size: 3.3rem;
    }

    .f_title {
        font-size: 5.7rem;
    }

    .f_subtitle_1 {
        font-size: 3.9rem;
    }

    .f_label_1 {
        font-size: 2.1rem;
    }

    .f_h1 {
        font-size: 3rem;
    }

    .f_h2 {
        font-size: 2.7rem;
    }

    .f_h3 {
        font-size: 2.4rem;
    }

    .f_normal {
        font-size: 2.1rem;
    }

    .f_button_1 {
        font-size: 1.8rem;
    }

    .f_button_2 {
        font-size: 2.1rem;
    }

    .f_input_1 {
        font-size: 2.1rem;
    }

    .f_input_dd_1 {
        font-size: 1.9rem;
    }

    .f_input_ta {
        font-size: 2.1rem;
    }

    .f_comment_1 {
        font-size: 1.8rem;
    }

    .f_tab_h1 {
        font-size: 2.1rem;
    }

    .f_tab_h2 {
        font-size: 1.9rem;
    }
}

@media (max-width: 37.5em) {
    .f_banner_1 {
        font-size: 3.3rem;
    }

    .f_label_1 {
        font-size: 2.8rem;
    }

    .f_h1 {
        font-size: 4rem;
    }

    .f_h2 {
        font-size: 3.6rem;
    }

    .f_h3 {
        font-size: 3.2rem;
    }

    .f_normal {
        font-size: 2.8rem;
    }

    .f_input_1 {
        font-size: 2.8rem;
    }

    .f_input_dd_1 {
        font-size: 2.6rem;
    }

    .f_input_ta {
        font-size: 2.8rem;
    }

    .f_comment_1 {
        font-size: 2.4rem;
    }

    .f_tab_h1 {
        font-size: 2.8rem;
    }

    .f_tab_h2 {
        font-size: 2.6rem;
    }
}

.btn_1,
.btn_1--fail,
.btn_1--success,
.btn_1--loading,
.btn_1--warning,
.btn_1--danger,
.btn_1--white{
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    line-height: 4rem;
    float: left;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}

@media (max-width: 75em) {
    .btn_1,
    .btn_1--fail,
    .btn_1--success,
    .btn_1--loading,
    .btn_1--warning,
    .btn_1--danger,
    .btn_1--white {
        height: 6rem;
        line-height: 6rem;
    }
}

.btn_1--white {
    color: #FFF;
    border: solid 0.1rem #FFF;
    opacity: 0.6;
}

.btn_1--white:hover {
    opacity: 1.0;
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    color: #FFF;
}

.btn_1--fail,
.btn_1--success,
.btn_1--loading,
.btn_1--warning,
.btn_1--danger {
    color: #FFF;
    border: solid .1rem transparent;
}

.btn_1{
    color: rgb(223, 0, 0);
    border: solid 0.1rem rgb(223, 0, 0);
    opacity: 0.9;
    background-color:transparent;
}

.btn_1:hover {
    opacity: 1.0;
    background-color: rgb(223, 0, 0);
    border-color: rgb(223, 0, 0);
    color: #FFF;
}

.btn_1--loading {
    background-color: #00a84f;
    opacity: 1;
}

.btn_1--loading:hover {
    color: #FFF;
}

.btn_1--fail {
    background-color: #b33030;
    opacity: 0.6;
}

.btn_1--fail:hover {
    opacity: 1;
}

.btn_1--success {
    background-color: #00a84f;
    opacity: 0.6;
}

.btn_1--success:hover {
    opacity: 1;
}

.btn_1--warning {
    background-color: #cbb956;
    opacity: 0.6;
}

.btn_1--warning:hover {
    opacity: 1;
}

.btn_1--danger {
    background-color: #b33030;
    opacity: 0.6;
}

.btn_1--danger:hover {
    opacity: 1;
}


.errorComment--active,
.errorComment--disabled {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    float:left;
}

.errorComment--active {
    width: 100%;
    background-color: #d84d47;
    color: #FFF;
    padding: 1rem;
    margin-top:1rem;
    position: relative;
}

.errorComment--disabled {
    width: 0;
    padding:0;
    overflow: hidden;
    position: absolute;
}

.header {
    height: 10vh;
    width: 100%;
    z-index: 999;
    margin: 0 2% 0 0;
    position: absolute;
}

.header__left {
    float: left;
    height: 100%;
    position: relative;
    width: 20%;
    margin: 0 15% 0 10%;
}


@media (max-width: 100em) {
    .header__left {
        width: 25%;
        margin: 0 5% 0 10%;
    }
}

@media (max-width: 56.25em) {
    .header__left {
        width: 25%;
        margin: 0 5% 0 10%;
    }
}

.header__logo{
    float:left;
    width:17rem;
    height: 3rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}

.header__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header__right {
    height: 100%;
    float: right;
    width: 20%;
    position: relative;
    padding-right: 3%;
}

@media (max-width: 75em) {
    .header__right {
        width: 30%;
        margin: 0 2% 0 0;
    }
}

@media (max-width: 56.25em) {
    .header__right {
        margin: 0;
    }
}

.header__logOut {
    width: 10rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 2rem;
}

.header__title {
    float: left;
    color: #FFF;
    line-height: 5vh;
}

.header__menu{
    float:right;
    height:5vh;
    transform:translateY(-50%);
    position: absolute;
    right:30%;
    top:50%;
}

.header__menu__link{
    color:rgb(223, 0, 0);
    float:left;
    padding:0 2rem;
    line-height: 5vh;
    border-bottom:solid .2rem #FFF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__menu__link:hover{  
    padding:0 3rem;
    border-bottom:solid .2rem rgb(223, 0, 0);
}

@media (max-width: 75em) {
    .header__right {
        width: 30%;
        margin: 0 2% 0 0;
    }
}

@media (max-width: 56.25em) {
    .header__menu {
        display: none;
    }

    .header__logOut{
        display: none;
    }
}

.header--normal,
.header--float {
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.header--normal {
    background-color: transparent;
    position: relative;
}

.header--normal .header__right__text {
    color: rgb(223, 0, 0);
}

.header--normal .header__title {
    color: rgb(223, 0, 0);
}

.header--float {
    background-color: #FFF;
    -webkit-box-shadow: 0 0.1rem 2rem -0.5rem #000;
    box-shadow: 0 0.1rem 2rem -0.5rem #000;
    margin-top: -.5rem;
    position: fixed;
}

.header--float .header__right__text {
    color: rgb(223, 0, 0);
}

.header--float .header__title {
    color: rgb(223, 0, 0);
}

.header__menuButton{
    width: 5rem;
    height: 5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 2rem;
    object-fit: cover;
    object-position: center;
    display: none;
}

.header__menuButton img{
    width:100%;
}

@media (max-width: 56.25em) {
    .header__menuButton {
        display: block;
    }
}

.header__dropDownMenu--disabled,
.header__dropDownMenu--active {
    width:90%;
    position: absolute;
    top:10vh;
    left:5%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__dropDownMenu--disabled{
    opacity: 0;
    visibility: hidden;
}

.header__dropDownMenu--active{
    opacity: 1;
    visibility: visible;
}

.header__dropDownMenu__option {
    color: rgb(223, 0, 0);
    float: left;
    transform: translateX(-50%);
    margin:0 0 2rem 50%;
    line-height: 8rem;
    border-bottom: solid .2rem #FFF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header__dropDownMenu__option:hover {
    padding: 0 3rem;
    border-bottom: solid .2rem rgb(223, 0, 0);
}

.header__dropDownMenu__logOut{
    float: left;
    transform: translateX(-50%);
    margin:0 0 2rem 50%;
}

.has-float-label {
    display: block;
    position: relative;
}

.has-float-label label,
.has-float-label>span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all 0.2s;
}

.has-float-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.has-float-label textarea {
    width: 100%;
}

.has-float-label input,
.has-float-label select,
.has-float-label textarea {
    font-size: inherit;
    padding-top: 1em;
}

.has-float-label input::placeholder,
.has-float-label select::placeholder,
.has-float-label textarea::placeholder {
    opacity: 1;
    transition: all 0.2s;
}

.has-float-label input:placeholder-shown:not(:focus)::placeholder,
.has-float-label select:placeholder-shown:not(:focus)::placeholder,
.has-float-label textarea:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
}

.has-float-label input:placeholder-shown:not(:focus)+*,
.has-float-label select:placeholder-shown:not(:focus)+*,
.has-float-label textarea:placeholder-shown:not(:focus)+* {
    font-size: 150%;
    opacity: 0.5;
    top: 0.25em;
}

.has-float-label input:focus,
.has-float-label select:focus,
.has-float-label textarea:focus {
    outline: none;
}

.has-float-label select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em bottom 0.25em;
    background-size: 0.8rem 1rem;
}

.text_input,
.text_input--normal,
.text_input--fail,
.text_input--success,
.text_input--warning,
.text_input--danger,
.text_input--loading {
    float: left;
    width: 100%;
}

.text_input input,
.text_input--normal input,
.text_input--fail input,
.text_input--success input,
.text_input--warning input,
.text_input--danger input,
.text_input--loading input {
    border-style: none;
    width: 100%;
    height: 4rem;
    transition: all 0.2s;
    float: left;
    clear: both;
    background-color: transparent;
}

@media (max-width: 75em) {

    .text_input input,
    .text_input--normal input,
    .text_input--fail input,
    .text_input--success input,
    .text_input--warning input,
    .text_input--danger input,
    .text_input--loading input {
        height: 6rem;
    }
}

@media (max-width: 37.5em) {

    .text_input input,
    .text_input--normal input,
    .text_input--fail input,
    .text_input--success input,
    .text_input--warning input,
    .text_input--danger input,
    .text_input--loading input {
        height: 8rem;
    }
}


.text_input input:-webkit-autofill,
.text_input--normal input:-webkit-autofill,
.text_input--fail input:-webkit-autofill,
.text_input--success input:-webkit-autofill,
.text_input--warning input:-webkit-autofill,
.text_input--danger input:-webkit-autofill,
.text_input--loading input:-webkit-autofill {
    background-color: transparent !important;
}

.text_input input::placeholder,
.text_input--normal input::placeholder,
.text_input--fail input::placeholder,
.text_input--success input::placeholder,
.text_input--warning input::placeholder,
.text_input--danger input::placeholder,
.text_input--loading input::placeholder {
    color: #ccc;
}

.text_input,
.text_input--normal,
.text_input input,
.text_input--normal input {
    color: rgb(223, 0, 0);
}

.text_input input,
.text_input--normal input {
    border-bottom: solid 0.2rem rgb(223, 0, 0);
}

.text_input input:hover,
.text_input--normal input:hover {
    border-bottom-width: 0.3rem;
}

.text_input--loading,
.text_input--loading input {
    color: #00a84f;
}

.text_input--loading input {
    border-bottom: solid 0.2rem #00a84f;
}

.text_input--fail,
.text_input--fail input {
    color: #b33030;
}

.text_input--fail input {
    border-bottom: solid 0.2rem #b33030;
}

.text_input--success,
.text_input--success input {
    color: #00a84f;
}

.text_input--success input {
    border-bottom: solid 0.2rem #00a84f;
}

.text_input--warning,
.text_input--warning input {
    color: #ffd900;
}

.text_input--warning input {
    border-bottom: solid 0.2rem #ffd900;
}

.text_input--danger,
.text_input--danger input {
    color: #b33030;
}

.text_input--danger input {
    border-bottom: solid 0.2rem #b33030;
}

.text_input__error--active,
.text_input__error--disabled {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.text_input__error--active {
    width: 100%;
    float: left;
    background-color: rgba(216, 77, 71, 1);
    color: #fff;
    padding: 1rem;
    position: relative;
}

.text_input__error--disabled {
    width: 0;
    overflow: hidden;
    position: absolute;
}

.text_input__comment--active,
.text_input__comment--disabled {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.text_input__comment--active {
    width: 100%;
    float: left;
    color: #ccc;
    padding: 0.5rem 0;
    position: relative;
}

.text_input__comment--disabled {
    width: 0;
    overflow: hidden;
    position: absolute;
}

.text_input__label {
    display: none;
}

.footer {
    float:left;
    width:100%;
    padding:0 5rem;
}

.footer__link{
    height: 5rem;
    line-height: 5rem;
    float:left;
    color: #333;
    margin-right:2rem;
}
