{% extends "layouts/main.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
{{stylesheet_tag('index_css')| safe}}
{% endblock %}

{% block scripts %}
{{javascript_tag('index_js') | safe}}

{% endblock %}


{% block body %}
<!-- Landing View Component -->

<div class="lview">
    <div class="lview__background"></div>

    <div class="lview__foreground">
        <div class="lview__content">
            <div class="lview__title f_title">Great Food and Fast Delivery</div>
            <div class="lview__body f_h1">
                Come try us out and order from a great selection of meals at affordable prices.
            </div>

            <div class="lview__buttons">
                <div class="lview__button">
                    <a href="/customer/order">
                        <div class="btn_1--white f_button_2">Start Ordering</div>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- Landing View Component -->
{% endblock %}